body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #000000;
  height: 400px;
  margin: auto;
  padding: 40px 4px 0;
  width: 264px;
}

.numbers-container {
  float: left;
  width: 198px;
}

.btn {
  border: none;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  height: 58px;
  margin: 4px;
  width: 58px;
}

.btn--black {
  background-color: #303030;
}

.btn--orange {
  background-color: #ff9b03;
  font-size: 30px;
}

.btn--big {
  border-radius: 30px;
  text-align: left;
  padding-left: 20px;
  width: 124px;
}

.field {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 56px;
  margin: 15px 0;
  padding-right: 11px;
  text-align: right;
  width: 100%;
}

.btn:focus, 
.field:focus {
  outline: none;
}